body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Signika", sans-serif;
  background: #f5dae8;
  color: #5d6873;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background: rgb(196, 219, 242);
  display: flex;
  height: 100%;
  justify-content: space-around;
  box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.1);
}
.header > div {
  margin: 0 0 0 40%;
  font-size: 0.6em;
}
.header-logLinks:link,
.header-loglinks:visited,
.header-logOut:link,
.header-logOut:visited,
.header-bestie:link,
.header-bestie:visited,
.add-friend-button:link,
.add-friend-button:visited,
footer a:link,
footer a:visited,
.builtby:link,
.builtby:visited {
  text-decoration: none;
  color: #6a6e92;
}

.header-bestie {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4em;
  cursor: pointer;
}

.header-logLinks {
  color: #6a6e92;
  font-size: 1.2em;
  cursor: pointer;
}
.header-logOut {
  flex-direction: row;
  align-items: flex-start;
  font-size: 0.8em;
  margin: 0 0 0 30%;
  cursor: pointer;
}
.signup-form {
  width: 100vw;
  margin: auto;
  padding-top: 10%;
}
.signup-img {
  margin-top: 0%;
  width: 350px;
}
.login-form {
  width: 100vw;
  margin: auto;
  padding-top: 20%;
  font-size: 1em;
}
.login-img {
  margin-top: 10%;
  width: 200px;
}
input {
  height: 55px;
  width: 70%;
  font-size: 1.2em;
  text-align: center;
  margin-top: 5%;
  border: none;
  background: #f5dae8;
  box-shadow: 0px 8px 5px rgba(102, 102, 102, 0.1);
}
input[type="submit"] {
  margin-top: 5%;
  height: 55px;
  width: 70%;
  background: rgb(196, 219, 242);
  border: none;
  box-shadow: 0px 8px 5px rgba(102, 102, 102, 0.1);
}

.button:hover {
  background: #b9bf88;
}

.error {
  font-size: 18px;
  color: rgb(184, 83, 83);
}

.bestie {
  border: 3px solid #6a6e92;
  background: rgb(196, 219, 242);
  width: 265px;
  height: 265px;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 2%;
  border-radius: 50%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
li {
  display: block;
}
.add-friend-button {
  font-size: 48px;
}
.add-friend {
  margin: 0;
  margin-top: 7%;
  margin-bottom: 2%;
  padding: 0;
}
.addfriend-img {
  margin-top: 0%;
  width: 300px;
}
.ri-close-circle-fill {
  position: absolute;
  margin: auto;
  margin-top: -80px;
  margin-left: -24px;
  font-size: 50px;
  color: rgb(184, 93, 93);
}

.wrapper {
  min-height: 100vh;
}
footer {
  background: rgb(196, 219, 242);
  height: 50px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.app-info {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  padding: 3%;
}
img {
  width: 200px;
  margin: auto;
}
.builtby {
  float: right;
  margin: 1%;
  margin-right: 3%;
}

.edit-img {
  margin-top: 0%;
  width: 270px;
}

.delete-info {
  font-size: 1.2em;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}
.delete-info-button {
  margin: 8%;
  font-size: 1.3em;
  width: 100px;
  height: 100px;
  border: 3px solid #6a6e92;
  background: rgb(196, 219, 242);
  border-radius: 50%;
}
.delete-info-button:hover {
  background: #b9bf88;
}
.delete-img {
  margin-top: 10%;
  width: 300px;
  text-align: center;
}

/* small phones */
@media (max-height: 640px) {
  img {
    width: 170px;
  }
  .login-form {
    padding-top: 10%;
    font-size: 1em;
  }
  .login-img {
    margin-top: 3%;
    width: 120px;
  }
  .signup-form {
    padding-top: 3%;
  }
  .signup-img {
    margin-top: -4%;
    width: 200px;
  }
  .add-new-friend-title {
    font-size: 1.5em;
  }
  .addfriend-img {
    display: none;
  }
  .edit-img {
    display: none;
  }
  .delete-img {
    margin-top: 1%;
    width: 240px;
    text-align: center;
  }
}

/* medium phones */
@media (max-height: 740px) and (min-height: 641px) {
  .login-form {
    padding-top: 10%;
    font-size: 1em;
  }
  .login-img {
    margin-top: 3%;
    width: 170px;
  }
  .signup-form {
    padding-top: 3%;
  }
  .signup-img {
    margin-top: -4%;
    width: 270px;
  }
  .add-new-friend-title {
    font-size: 1.5em;
    margin-bottom: -1%;
  }
  .addfriend-img {
    width: 230px;
  }
  .edit-img {
    margin-top: -3%;
    width: 230px;
  }
}

@media (min-width: 768px) {
  .header-logLinks {
    width: 120px;
    justify-content: center;
  }
  .header > div {
    display: flex;
    font-size: 1em;
  }
  .header-bestie {
    font-size: 2em;
  }
  section {
  }
}
