body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Signika", sans-serif;
  background: #f5dae8;
  color: #5d6873;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background: rgb(196, 219, 242);
  display: flex;
  height: 100%;
  justify-content: space-around;
  box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.1);
}
.header > div {
  margin: 0 0 0 40%;
  font-size: 0.6em;
}
.header-logLinks:link,
.header-loglinks:visited,
.header-logOut:link,
.header-logOut:visited,
.header-bestie:link,
.header-bestie:visited,
.add-friend-button:link,
.add-friend-button:visited,
footer a:link,
footer a:visited,
.builtby:link,
.builtby:visited,
.signup-tourpage:link,
.signup-tourpage:visited {
  text-decoration: none;
  color: #6a6e92;
}

.header-bestie {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4em;
  cursor: pointer;
}

.header-logLinks {
  color: #6a6e92;
  font-size: 1.2em;
  cursor: pointer;
}
.header-logOut {
  flex-direction: row;
  align-items: flex-start;
  font-size: 0.8em;
  margin: 0 0 0 30%;
  cursor: pointer;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
button {
  color: #6a6e92;
  font-weight: bold;
}
.signup-form {
  width: 100vw;
  margin: auto;
  padding-top: 10%;
}
.signup-img {
  margin-top: 0%;
  width: 350px;
}
.signup-img-cake {
  width: 350px;
}
.login-form {
  width: 100vw;
  margin: auto;
  padding-top: 20%;
  font-size: 1em;
}
.login-img {
  margin-top: 10%;
  width: 200px;
}
input {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 55px;
  width: 70%;
  font-size: 1.2em;
  text-align: center;
  margin-top: 5%;
  border: none;
  background: #f5dae8;
  color: #535563;
  box-shadow: 0px 8px 5px rgba(102, 102, 102, 0.1);
}
::placeholder {
  color: #535563;
}
input[type="date"] {
  text-align: center;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 1em top 50%, 0 0;
  background-size: 1.1em auto, 100%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="submit"] {
  background: rgb(196, 219, 242);
  color: #6a6e92;
  font-weight: bold;
}

.button:hover {
  background: #b9bf88;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.error,
.message {
  margin: 5%;
  font-size: 1em;
}
.message {
  color: #4d9244;
  font-size: 1.6em;
  margin-top: 25%;
}
.error {
  color: rgb(184, 83, 83);
}

.all-besties {
  display: flex;
  flex-direction: column;
}
.bestie-box {
  border: 3px solid #6a6e92;
  background: rgb(196, 219, 242);
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 2%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestie {
  font-size: 1.6em;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
li {
  display: block;
}
.add-friend-button {
  font-size: 48px;
}
.add-friend {
  margin: 0;
  margin-top: 7%;
  margin-bottom: 2%;
  padding: 0;
}
.addfriend-img {
  margin-top: 0%;
  width: 300px;
}
.ri-close-circle-fill {
  position: absolute;
  margin: auto;
  margin-top: 26%;
  font-size: 50px;
  color: rgb(184, 93, 93);
}

.wrapper {
  min-height: 100vh;
}
footer {
  background: rgb(196, 219, 242);
  height: 50px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.app-name {
  color: #6a6e92;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}
.app-info {
  width: 90%;
  margin: auto;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  padding: 3%;
  margin-top: 5%;
}
img {
  width: 200px;
  margin: auto;
  margin-top: 5%;
}

.arrow {
  display: block;
  margin: auto;
  width: 100px;
}
.builtby {
  font-size: 1em;
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 3%;
}

.app-tour {
  width: 90%;
  margin: auto;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  padding: 3%;
  margin-bottom: 10%;
}
.add-friend-demo-button {
  display: block;
  font-size: 40px;
  margin: auto;
}
.app-tour > ul {
  text-align: left;
  margin: auto;
}
.demo-image {
  width: 90vw;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.signup-tourpage {
  font-weight: bold;
}
.edit-form {
  margin-top: 5%;
}
.edit-img {
  margin-top: 0%;
  width: 270px;
}

.delete-info {
  font-size: 1.2em;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}
.delete-info-button {
  margin: 8%;
  font-size: 1.3em;
  width: 100px;
  height: 100px;
  border: 3px solid #6a6e92;
  background: rgb(196, 219, 242);
  border-radius: 50%;
}
.delete-info-button:hover {
  background: #b9bf88;
}
.delete-img {
  margin-top: 10%;
  width: 300px;
  text-align: center;
}

/* small phones */
@media only screen and (max-height: 640px) {
  .message {
    font-size: 1.4em;
  }
  img {
    width: 130px;
  }
  .signup-img-cake {
    width: 250px;
  }
  .app-info {
    font-size: 1em;
  }
  .arrow {
    margin-top: -5%;
    width: 80px;
  }
  .add-friend-demo-button {
    margin-top: 5%;
  }

  .login-form {
    padding-top: 10%;
    font-size: 1em;
  }
  .login-img {
    margin-top: 3%;
    width: 120px;
  }
  .signup-form {
    padding-top: 3%;
  }
  .signup-img {
    margin-top: -4%;
    width: 200px;
  }
  .add-new-friend-title {
    font-size: 1.5em;
  }
  .addfriend-img {
    display: none;
  }
  .edit-form {
    margin-top: 1%;
  }
  .edit-img {
    display: none;
  }
  .delete-img {
    margin-top: 1%;
    width: 240px;
    text-align: center;
  }
  .ri-close-circle-fill {
    margin-top: 28%;
  }
}

/* medium phones */
@media only screen and (max-height: 740px) and (min-height: 641px) {
  img {
    width: 150px;
  }
  .arrow {
    margin-top: -5%;
    width: 80px;
  }
  .login-form {
    padding-top: 10%;
    font-size: 1em;
  }
  .login-img {
    margin-top: 3%;
    width: 170px;
  }
  .signup-form {
    padding-top: 3%;
  }
  .signup-img {
    margin-top: -4%;
    width: 270px;
  }
  .add-new-friend-title {
    font-size: 1.5em;
    margin-bottom: -1%;
  }
  .addfriend-img {
    width: 230px;
  }
  .edit-img {
    display: none;
  }
}

/* tablets & laptops */
@media only screen and (min-width: 1024px) {
  body {
    position: relative;
  }
  .header-logLinks {
    width: 120px;
    justify-content: center;
  }
  .header > div {
    display: flex;
    font-size: 1em;
  }
  .header-bestie {
    font-size: 2em;
  }
  .app-info-div {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .app-info {
    width: 60%;
    margin: auto;
    font-size: 2em;
    text-align: center;
  }

  .hug {
    width: 25vw;
    height: 100%;
  }

  .app-tour {
    width: 65%;
    margin: auto;
    font-size: 2em;
  }
  .add-friend-demo-button {
    margin: 5%;
    text-align: center;
    font-size: 56px;
  }
  .intro {
    text-align: center;
  }
  .app-tour > ul {
    text-align: left;
    margin: auto;
  }
  .demo-image {
    width: 65vw;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .arrow {
    width: 200px;
    margin-top: -10%;
    margin-left: 60%;
  }

  .all-besties {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .bestie-box {
    margin: 2%;
  }
  .ri-close-circle-fill {
    margin-top: 0%;
    font-size: 100px;
  }
  .add-friend {
    margin-top: 2%;
    margin-bottom: 0;
  }
  .add-friend-button {
    font-size: 68px;
  }
  footer {
    height: 50px;
    font-size: 1.4em;
  }
  .add-new-friend {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .addfriend-img {
    width: 100%;
    height: 100%;
    max-width: 460px;
    margin: auto;
  }
  .login-form,
  .signup-form,
  .edit-form,
  .delete-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 3%;
  }
  .add-new-friend {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 1%;
  }
  form {
    flex-grow: 1;
    margin: 0;
  }
  .signup-img {
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: auto;
  }
  .signup-img-cake {
    margin-top: -3%;
    width: 550px;
  }
  .login-img {
    width: 100%;
    height: 100%;
    max-width: 270px;
    margin: auto;
    margin-right: 5%;
  }
  .edit-img {
    display: none;
  }
  .delete-info {
    font-size: 1.7em;
  }
  .delete-info-button {
    margin: 3%;
  }
  .delete-img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: auto;
    margin-right: 5%;
  }
  .builtby {
    position: absolute;
    font-size: 1.3em;
    bottom: 0;
    top: 98%;
  }
  .error {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 98%;
    font-size: 1.2em;
  }
  .message {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 98%;
    font-size: 2em;
    margin-top: 10%;
  }
}
